# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# ML artefacts
# =========================
*.pkl
*.joblib
*.h5
mlflow.db
mlruns/

# =========================
# Data (optional)
# =========================
*.csv
*.xlsx
*.parquet

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Secrets
# =========================
.env
*.key
credentials.json

# =========================
# Media (optional)
# =========================
*.png
*.jpg
*.jpeg
*.gif
*.mp4


requirements-dev.txt